body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.row {
    width: 100%;
}

.section1,
.section2,
.section3 {
    float: left;
    padding: 10px;
}

.cont-box {
    background-color: lightgray;
    padding: 20px 20px;
    color: #000;
    border: 1px solid black;
    margin-bottom: auto;
}

#chicken,
#beef,
#sushi {
    text-align: center;
    border: 1px solid black;
    margin-top: 0;
    width: 120px;
    height: 30px;
    float: right;
    font-weight: 800;
    padding-top: 5px;
}

#chicken {
    background-color: lightblue;
}

#beef {
    background-color: lightpink;
}

#sushi {
    background-color: lightcyan;
}

.top-link, .top-link:visited {
    text-decoration: none;
    color: red;
}

.container-fluid{
    margin: 0;
    padding: 0;
}

.navbar{
    border-radius: 0px;
    background-color: gray;
}

.navbar-brand{
    font-size: 35px;
    color: white;
    padding-left: 25px;
}

.navbar-brand:hover{
    color: white;
}

.main-title{
    margin-bottom: 15px;
    text-align: center;
    color: #ff4532;
    font-size: 50px;
    font-family: cursive, sans-serif;
    font-weight: bold;
}

.nav{
    margin: 0;
    padding: 0;
}

.navbar-nav{
    font-size: 25px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar-toggle{
    border: 2px solid white;
    margin-right: 25px;
}


.icon-bar{
    background-color: white;
}
/* Large device (desktop) */

@media only screen and (min-width: 992px) {

    .section1,
    .section2,
    .section3 {
        /* display: inline-block; */
        width: 33%;
    }
}

/* Medium device (tablet) */

@media only screen and (min-width:768px) and (max-width:991px) {

    .section1,
    .section2,
    .section3 {
        display: inline-block;
    }

    .section1,
    .section2 {
        width: 50%;
    }

    .section3 {
        width: 100%;
    }
}

/* Small device (mobile) */

@media only screen and (max-width:767px) {

    .section1,
    .section2,
    .section3 {
        display: inline-block;
        width: 100%;
    }
}

